// @import "components/font-face";

@import "../node_modules/bootstrap/scss/bootstrap";


// vendor & variables
$color_white: rgb(255,255,255);
$color_yellow: rgb(255, 239, 0);
$color_magenta: rgb(183, 0, 115);
$color_blue: rgb(94, 119, 182);
$color_black: rgb(67, 67, 67);

$width-inside: 800px;

$content_large: 50vw;
$content_small: 300px;
$font_size_big: 8rem;
$font_size_small: 2rem;

$fontFamilyHeadings: 'Bebas Neue', cursive;

// mixins
@mixin backgroung_image_position{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
}

@mixin flex_centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


@include media-breakpoint-up(xl){

    $content_small: 500px;
    $content_large: 800px;
    $font_size_big: 12rem;
    $font_size_small: 3rem;
}

// components

.container_basic{
    @include backgroung_image_position;
    @include flex_centered;
    min-height: 100vh;
    min-width: 100vw;
} 

.container_large_inside {
    width: $content_large;
    text-align: center;
}

.container_large_icon{
    height: 60px;
    margin-bottom: 2rem;
}

.container_large_header{
    font-size: 3rem;
    font-weight: 900;
    font-family: $fontFamilyHeadings;
}

// basics

body{
    min-width: 400px
}

.center{
    margin: 0 auto;
}

// header nav
.custom-nav{
    width: 100vw;
    padding-inline: 1rem;
}

//main

.container_1{
    @extend .container_basic;
    font-family: $fontFamilyHeadings;
    background-image: url("../assets/img/header.jpg");
}

.container_1_inside{
    max-width: $content_small;
}

.container_1_header{
    font-size: $font_size_big;
    color: $color_white;
    text-align: left;
}

.container_1_footer{
    font-size: $font_size_small;
    color: $color_yellow;
}

.container_3 {
    @extend .container_basic;
    background-color: white;
    color: $color_magenta;
}

.container_4{
    @extend .container_basic;
    background-color: grayscale($color: #e0d6d6);
}

.container_4{

    .container_large_inside{
        z-index: 1;
    }
}

.container_4_header{

    @extend .container_large_header;
    color: $color_magenta; 
}

// only works for big screen in the moment
// use grid
.container_4_background_image{
    z-index: 0;
    opacity: 50%;
    position: absolute;
    margin-top: 50vh;
}

@include media-breakpoint-up(lg){

    .container_4{
        display: grid;
        grid-template-columns: 1fr $content_large 1fr;
    }

    .container_4_background_image{
        position: relative;
        opacity: 100%;
        align-self:end;
        margin-bottom: 2rem;
    }
}

.container_5{
    @extend .container_basic;
    flex-direction: column;
    justify-content: start;
    background-color: $color_magenta;

    .container_large_inside{
        margin-top: 3rem;
    }
}

.container_6{
    // @extend .container_basic;
    background-image: url("../assets/img/maas.jpg");
}
.container_7{
    @extend .container_basic;
    background-image: url("../assets/img/stadtrundgaenge.jpg");
}
.container_8{
    @extend .container_basic;
    background-color: $color_blue;
}

/**********double picture ************************/
.double_picture{
    width: 150px;
    height: 150px;
}

.double_picture_note{
    font-size: 25px;
    line-height: 50px;
    padding-top: 22px;
}

.double_picture_note_span{
    font-size: 90px;
}

.double_picture_img{
    width: 100px;
    height: 100px;
    z-index:3;
}

.double_picture_1{
    background-image: url('../assets/img/icons/fahrzeug-steckdose.svg');
    position: relative;
    top: 30px;
    left: 50px;
}

.double_picture_2{
    position: relative;
    top: 30px;
    left: 300px;
    width: 300px;
}

.double_picture_2::after{
    content: "";
    background: url('../img/icons/fahrzeug-tacho.svg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: contain;
   background-repeat: no-repeat;

}

//slider
.slider_inside{
    margin: 20vh 0 0 10vw;
    width: 500px;
}

.mystyle{
    height: 100vh !important;
}

// footer
.margin_right{
    margin-right: 10px;
}

.footer{
    width: 100vw;
    display: flex;
    align-items: space-evenly;
    color: $color_magenta;
}

.footer_item{
    padding: 1rem;
    width: 100%;
}

.footer_item>*{
    margin-bottom: 1rem;
}

.footer_item>*>*{
    cursor: pointer;
}
